<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team.zhuoke"
    android:installLocation="auto">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".application.DYApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.AppBaseTheme">
        <activity
            android:name=".view.common.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.AppBaseThemeMain"
            android:windowSoftInputMode="adjustPan"></activity>
        <!-- 适配规格 -->
        <meta-data
            android:name="design_width"
            android:value="1080"></meta-data>
        <meta-data
            android:name="design_height"
            android:value="1920"></meta-data>

        <activity
            android:name=".view.common.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.AppWelcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.common.activity.GuideActivity"
            android:screenOrientation="portrait"></activity>
        <!--全部颜值-->
        <activity
            android:name=".view.home.activity.HomeRecommendFaceScoreActivity"
            android:screenOrientation="portrait"></activity>
        <!--手机直播-->
        <activity
            android:name=".view.common.activity.PhoneLiveVideoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.AppBaseThemeMain"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"></activity>
        <!--PC直播-->
        <activity
            android:name=".view.common.activity.PcLiveVideoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar.AppBaseThemeMain"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <meta-data
            android:name="QBSDKAppKey"
            android:value="TRDhb+Ojol3bP7w+JTGTSnXN" />
        <activity
            android:name=".view.live.activity.WebViewActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <!--栏目 更多 -->
        <activity
            android:name=".view.home.activity.HomeColumnMoreListActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
